version: '3'

volumes:
  mongo-init: {}

services:
  test:
    build:
      context: .
      args:
        NODE_ENV: test
    command: test
    volumes:
      - ./src:/usr/src/kev/src
    links:
      - redis
      - mongo_standalone
      - mongo_replset
    environment:
      REDIS_URL: redis://redis:6379
      MONGO_URL: mongodb://mongo_standalone:27017/test?retryWrites=false
      MONGO_RS_URL: mongodb://mongo_replset:27017/test?replicaSet=repl

  redis:
    image: redis:alpine

  mongo_standalone:
    image: mongo:4.2
    depends_on:
      - mongo-init
    volumes:
      - mongo-init:/opt/mongo-init
    hostname: mongo_standalone
    entrypoint: /opt/mongo-init/bin/entrypoint.sh
    environment:
      MONGO_STORAGE_ENGINE: ephemeralForTest
  mongo-init:
    image: finboxio/mongo-init:dev
    volumes:
      - mongo-init:/opt/mongo-init

  mongo_replset:
    image: mongo:4.2
    depends_on:
      - mongo-init
    volumes:
      - mongo-init:/opt/mongo-init
    hostname: mongo_replset
    entrypoint: /opt/mongo-init/bin/entrypoint.sh
    environment:
      MONGO_REPLSET: repl
      MONGO_ROLE: primary
  mongo-init:
    image: finboxio/mongo-init:dev
    volumes:
      - mongo-init:/opt/mongo-init
